/* ==========
base
==========*/
/* ==========
scaffold
==========*/
/* ==========
modules
==========*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  font-size: 100%;
}
body {
  background-color: #fff;
  font: 14px/2.14 "Microsoft yahei";
  color: #353535;
}
a {
  color: #525252;
  text-decoration: none;
}
a:hover {
  color: #ff902d;
  text-decoration: none;
}
a:focus {
  outline: 0 none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
}
p {
  margin: 0;
}
.dis-none,
.hidden {
  display: none;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-14 {
  font-size: 14px;
}
.font-16 {
  font-size: 16px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.orange {
  color: #ff902d;
}
.blue {
  color: #008bf8;
}
.red {
  color: #ff3300;
}
.green {
  color: #30ac8a;
}
.tc {
  text-align: center;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.vt {
  vertical-align: top;
}
.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pd5 {
  padding: 5px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr20 {
  padding-right: 20px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb30 {
  padding-bottom: 30px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.margin_lr_auto {
  margin-left: auto;
  margin-right: auto;
}
.clearfix,
#topbar,
#header .main_nav,
#h-f1,
.main-wrapper .inner,
#footer .inner,
#footer .bottom_nav,
.tab-panel .tab-hd,
.form-list .form-group,
.pager {
  *zoom: 1;
}
.clearfix:after,
#topbar:after,
#header .main_nav:after,
#h-f1:after,
.main-wrapper .inner:after,
#footer .inner:after,
#footer .bottom_nav:after,
.tab-panel .tab-hd:after,
.form-list .form-group:after,
.pager:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.bg-white {
  background-color: #fff;
}
.sp_common {
  background-image: url("img/common.png");
  background-repeat: no-repeat;
}
body {
  min-width: 1200px;
}
/*topbar*/
#topbar {
  height: 54px;
  line-height: 54px;
  background: #f6f6f6;
}
#topbar .inner {
  width: 1200px;
  margin: 0 auto;
}
#topbar .account {
  padding-left: 10px;
}
#topbar .account a {
  padding: 0 10px;
}
#topbar #topnav {
  float: right;
}
#topbar #topnav a {
  padding: 0 13px;
  line-height: 54px;
  float: left;
  color: #353535;
}
#topbar #topnav a:hover {
  background: #e7e7e7;
}
/*页头*/
#header {
  position: relative;
  z-index: 99;
}
#header .inner {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
#header .logo {
  width: 270px;
  height: 118px;
  float: left;
}
#header .logo .pic {
  display: block;
  width: 156px;
  height: 90px;
  margin: 14px 0;
  background-image: url("img/common.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
#header .hotline {
  width: 310px;
  height: 42px;
  padding-top: 38px;
  font-size: 18px;
  line-height: 42px;
  color: #525252;
  text-align: center;
  float: right;
}
#header .searchbar {
  width: 618px;
  height: 42px;
  margin-left: 270px;
  padding-top: 38px;
}
#header .searchbar .ipt {
  width: 478px;
  height: 42px;
}
#header .searchbar .btn {
  width: 115px;
  height: 42px;
}
#header .searchbar .btn i {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("img/common.png");
  background-repeat: no-repeat;
  background-position: 0 -200px;
}
#header #classify {
  background-color: #fff;
  width: 260px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
#header #classify h2.title {
  font: 20px/38px "Microsoft yahei";
  color: #ff902d;
  padding-left: 45px;
  position: relative;
  margin: 13px 0;
}
#header #classify h2.title i {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  top: 0;
  background-image: url("img/common.png");
  background-repeat: no-repeat;
  background-position: -150px -200px;
}
#header #classify .menu {
  position: relative;
}
#header #classify .menu .item {
  height: 36px;
  border: 1px solid transparent;
}
#header #classify .menu .item .link {
  display: block;
  position: relative;
  line-height: 36px;
  font-size: 16px;
  padding-left: 15px;
  transition: padding .3s;
}
#header #classify .menu .item .link i {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 10px;
  top: 0;
  background-image: url("img/common.png");
  background-repeat: no-repeat;
  background-position: -50px -200px;
}
#header #classify .menu .item .sub-menu {
  display: none;
  width: 940px;
  height: 302px;
  position: absolute;
  top: 0;
  left: 258px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
#header #classify .menu .item .cate {
  overflow: hidden;
}
#header #classify .menu .item .cate .sub-cate {
  float: left;
  margin-bottom: 10px;
}
#header #classify .menu .item .cate .sub-cate dt {
  color: #ff902d;
  height: 30px;
}
#header #classify .menu .item .cate .sub-cate dd {
  float: left;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  margin-right: 12px;
}
#header #classify .menu .item .cate .sub-cate dd a {
  display: block;
}
#header #classify .menu .item .cate .sub-cate dd a:hover {
  color: #008bf8;
  text-decoration: underline;
}
#header #classify .menu .item .texture,
#header #classify .menu .item .material {
  padding: 15px 0px 5px 25px;
  margin-right: 160px;
}
#header #classify .menu .item .texture .sub-cate,
#header #classify .menu .item .material .sub-cate {
  width: 50%;
}
#header #classify .menu .item .texture {
  border-bottom: 1px solid #e9e9e9;
  height: 180px;
}
#header #classify .menu .item .material {
  padding-top: 5px;
  height: 90px;
}
#header #classify .menu .item .ext {
  padding: 5px 5px 5px 0;
  position: absolute;
  right: 0px;
  top: 0px;
}
#header #classify .menu .item .ext .pic {
  width: 150px;
  height: 292px;
  border: 1px solid #e9e9e9;
}
#header #classify .menu .active {
  border-color: #ebebeb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#header #classify .menu .active .link {
  color: #ff902d;
  position: relative;
  z-index: 4;
  padding-left: 25px;
  background-color: #fff;
}
#header #classify .menu .active .link i {
  background-position: -100px -200px;
}
#header #classify .menu .active .sub-menu {
  display: block;
}
#header .fold .menu {
  display: none;
}
#header .main_nav {
  height: 64px;
  margin-left: 280px;
}
#header .main_nav a {
  float: left;
  font: 20px/40px "Microsoft yahei";
  padding: 10px 40px 0;
}
#header .main_nav a:hover,
#header .main_nav a.active {
  color: #ff902d;
  border-bottom: 1px solid #ff902d;
}
#h-f1 {
  height: 118px;
  border-bottom: 1px solid #e9e9e9;
}
#h-f2 {
  height: 64px;
  position: relative;
}
/*主内容区域*/
.main-wrapper {
  min-height: 500px;
}
.main-wrapper .inner {
  padding: 0.1px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
/*页尾*/
#footer {
  background-color: #f6f6f6;
}
#footer .inner {
  width: 1200px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
}
#footer .logo_gray {
  width: 156px;
  height: 90px;
  background-image: url("img/common.png");
  background-repeat: no-repeat;
  background-position: 0 -100px;
  float: left;
}
#footer .qr-code {
  float: right;
}
#footer .qr-code .img {
  background: #fff;
  border: 1px solid #d3d3d3;
  width: 108px;
  height: 108px;
  padding: 10px;
}
#footer .bottom_nav {
  width: 780px;
  margin: 0 auto;
}
#footer .bottom_nav nav {
  float: left;
  width: 190px;
  padding-left: 68px;
}
#footer .bottom_nav nav h3 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 15px;
}
#footer .bottom_nav nav ul li a {
  display: block;
  font: 12px/20px "Microsoft yahei";
  padding: 8px 0;
}
/*两列布局*/
.two-cols {
  *zoom: 1;
}
.two-cols:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.two-cols article.main {
  width: 810px;
  float: left;
}
.two-cols aside.aside {
  width: 370px;
  float: right;
}
.tab-panel .tab-hd {
  margin-bottom: -1px;
}
.tab-panel .tab-hd .tag {
  float: left;
  background-color: #E6E9ED;
  border: 1px solid #D4DAE6;
  border-bottom-width: 0px ;
  border-radius: 3px 3px 0 0 ;
  height: 31px;
  line-height: 32px;
  padding: 0px 22px;
  margin-right: 3px;
  color: #353535;
  text-decoration: none;
}
.tab-panel .tab-hd .tag:hover {
  background-color: #d2e5ed;
}
.tab-panel .tab-hd .tag.active {
  height: 32px;
  background-color: #fff;
  border-color: #E3E7F0;
}
.tab-panel .tab-bd {
  background-color: #fff;
  border: 1px solid #E3E7F0;
  padding: 25px;
  border-radius: 0px 3px 3px 3px;
}
.tit_h2 {
  font: 22px/30px "Microsoft yahei";
  color: #353535;
  margin: 30px 0 10px;
}
/*
*forms
*/
form .error {
  color: #f00;
}
.form-group {
  margin-bottom: 10px;
}
.ipt {
  background-color: #f3f3f3;
  border: 0px none;
  height: 42px;
  padding: 0 10px;
  vertical-align: middle;
  font: 14px/42px "Microsoft yahei";
}
.ipt:focus {
  outline: 0 none;
}
.ipt-large {
  height: 48px;
  font-size: 14px 2px;
  line-height: 48px;
}
.ipt-short {
  width: 60px;
}
/*buttons*/
.btn {
  font-family: "Microsoft yahei";
  border: 0 none;
  cursor: pointer;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  padding: 0 20px;
  text-align: center;
}
.btn:focus {
  outline: 0 none;
}
.btn[disabled] {
  cursor: not-allowed;
}
.btn-primary {
  background-color: #ff902d;
  color: #ffffff;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #f97500;
}
.btn-primary:active {
  color: #ffffff;
  background-color: #c65d00;
}
.btn-primary[disabled] {
  background-color: #d2d2d2;
}
.btn-secondary {
  background-color: #008bf8;
  color: #ffffff;
}
.btn-secondary:hover {
  color: #ffffff;
  background-color: #006ec5;
}
.btn-secondary:active {
  color: #ffffff;
  background-color: #005292;
}
.btn-secondary[disabled] {
  background-color: #d2d2d2;
}
.btn-bordered {
  background-color: #ffffff;
  color: #ff902d;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ff902d;
}
.btn-bordered:hover {
  color: #ffffff;
  background-color: #ff902d;
}
.btn-bordered:active {
  color: #ffffff;
  background-color: #f97500;
}
.btn-bordered[disabled] {
  background-color: #d2d2d2;
}
a.btn,
span.btn {
  display: inline-block;
}
a.btn-block,
span.btn-block {
  padding: 0;
}
.btn-small {
  height: 30px;
  line-height: 30px;
}
.btn-large {
  font-size: 20px;
  height: 48px;
  line-height: 48px;
}
.btn-block {
  display: block;
  width: 100%;
}
em.required {
  vertical-align: middle;
  color: red;
  margin-right: 5px;
}
.form-list {
  line-height: 42px;
}
.form-list .control-label {
  display: block;
}
.panel {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  padding: 20px;
}
.filter-panel {
  border: 1px solid #e9e9e9;
}
.filter-panel .hd {
  padding: 7px 20px;
  border-bottom: 1px solid #e9e9e9;
}
.filter-panel .hd .selected-c {
  overflow: hidden;
}
.filter-panel .hd .selected-c dt,
.filter-panel .hd .selected-c dd {
  float: left;
}
.filter-panel .hd .selected-c dt {
  line-height: 30px;
}
.filter-panel .hd .selected-c dd {
  height: 20px;
  font: 14px/20px "Microsoft yahei";
  color: #ff902d;
  border: 1px solid #ff902d;
  margin: 4px;
  padding: 0 15px;
}
.filter-panel .hd .selected-c dd .close {
  display: inline-block;
  padding: 0 5px;
  margin-right: -15px;
  margin-left: 5px;
  color: #ff902d;
  font-variant: small-caps;
}
.filter-panel .hd .selected-c dd .close:hover {
  background: #ff902d;
  color: #fff;
}
.filter-panel .bd {
  padding: 10px 20px;
}
.filter-panel .bd .factor .list {
  overflow: hidden;
}
.filter-panel .bd .factor .list dt,
.filter-panel .bd .factor .list dd {
  float: left;
  margin: 5px;
}
.filter-panel .bd .factor .list dt {
  color: #ff902d;
}
.filter-panel .bd .factor .list dd {
  padding: 0 10px;
  cursor: pointer;
}
.filter-panel .bd .factor .list dd:hover,
.filter-panel .bd .factor .list dd.active {
  color: #008bf8;
  text-decoration: underline;
}
.table {
  width: 100%;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  border-collapse: collapse;
}
.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
  vertical-align: middle;
}
.table th.tl,
.table td.tl {
  text-align: left;
}
.table th.tr,
.table td.tr {
  text-align: right;
}
.table th {
  line-height: 25px;
  font-weight: bold;
}
.table td {
  line-height: 20px;
  padding: 10px;
  font-size: 12px;
}
.table-dashed th {
  background-color: #f1f1f1;
  border-bottom-width: 0;
}
.table-dashed td {
  border-style: dashed;
}
.tr-dashed td {
  border-style: dashed;
}
/*������tips*/
.tb-tips {
  position: relative;
}
.tb-tips .tips-wrap {
  width: 260px;
  top: 0px;
  left: 50%;
  text-align: left;
  padding-top: 30px;
  line-height: 30px;
  font-size: 14px;
  display: none;
  position: absolute;
  z-index: 10;
}
.tb-tips .tips-wrap .arrow {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  top: 22px;
  width: 15px;
  height: 9px;
  background: url("img/arrow_1.png") no-repeat 0 0;
}
.tb-tips .tips-wrap .tips-bd {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #e9e9e9;
}
.tb-tips.active .tips-wrap {
  display: block;
}
/*����ɸѡ����*/
.list-filter {
  margin: 30px 0 10px;
  padding: 3px 0 3px 200px;
  line-height: 24px;
}
.list-filter .result,
.list-filter .sort,
.list-filter .price_range {
  vertical-align: middle;
  display: inline-block;
}
.list-filter .result {
  padding: 0 20px;
  font-size: 16px;
}
.list-filter .sort a {
  background-color: #d3d3d3;
  color: #353535;
  margin: 0 2px;
  padding: 0 15px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.list-filter .sort a.active {
  color: #fff;
  background-color: #ff902d;
}
.list-filter .price_range .ipt {
  height: 24px;
  line-height: 24px;
  width: 60px;
  text-align: center;
  background-color: #d3d3d3;
}
.list-filter .price_range .btn {
  height: 24px;
  line-height: 24px;
}
.pager {
  margin: 20px 0 30px;
}
.pager .pageinfo {
  float: right;
  line-height: 30px;
  font-size: 16px;
  margin-right: 30px;
}
.pagination {
  float: right;
}
.pagination ul li {
  display: inline;
  margin: 4px;
}
.pagination ul li span,
.pagination ul li span.prev,
.pagination ul li span.next {
  color: #e9e9e9;
}
.pagination ul li a,
.pagination ul li .current,
.pagination ul li .ellipse {
  display: inline-block;
  line-height: 30px;
  padding: 0 5px;
  min-width: 20px;
  text-align: center;
  background-color: #f6f6f6;
}
.pagination ul li .current {
  background-color: #ff902d;
  color: #fff;
}
.pagination ul li .ellipse {
  border-width: 0;
}
.pagination ul li .prev,
.pagination ul li .next {
  margin: 0 5px;
  background-color: #f6f6f6;
  color: #353535;
}
.label {
  display: inline;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #FFF;
  background-color: #aaaaaa;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.label-primary {
  background-color: #ff902d;
}
.label-secondary {
  background-color: #008bf8;
}
.label-small {
  font-size: 12px;
  line-height: 20px;
  padding: 0 10px;
}
.flow {
  height: 60px;
  margin-top: 10px;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
}
.flow .item {
  display: inline-block;
  padding: 0 20px;
  margin: 0 50px;
  font: 20px/60px "Microsoft yahei";
  color: #aaaaaa;
}
.flow .active {
  color: #ff902d;
  border-bottom: 1px solid #ff902d;
}
.pub-board {
  padding: 15px 29px;
  border: 1px solid #e9e9e9;
}
.pub-board h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.pub-board .board {
  padding: 0 10px;
}
.pub-board .board textarea {
  width: 100%;
  height: 130px;
  padding: 10px 9px;
  resize: vertical;
  margin: 0 -10px;
  border: 1px solid #e9e9e9;
  font-family: "Microsoft yahei";
}
.pub-board .board textarea:focus {
  border-color: #ff902d;
  outline: none;
}
.pub-board .tel {
  margin: 19px 0 39px;
  height: 24px;
  *zoom: 1;
}
.pub-board .tel:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.pub-board .tel label {
  width: 90px;
  text-align: right;
  float: left;
  vertical-align: middle;
}
.pub-board .tel .ipt {
  height: 24px;
  line-height: 24px;
  width: 200px;
}
.pub-board .tips {
  font-size: 12px;
  color: #aaaaaa;
  margin-top: 15px;
}
/*# sourceMappingURL=css/common.css.map */