#topbar,
#header .inner,
.main-wrapper .inner,
#footer .inner,
#footer .bottom_nav,
.tab-panel .tab-hd,
.form-list .form-group,
.pager,
.m_scr .main_nav,
.widget-m .buyerlist .list {
  *zoom: 1;
}
#topbar:after,
#header .inner:after,
.main-wrapper .inner:after,
#footer .inner:after,
#footer .bottom_nav:after,
.tab-panel .tab-hd:after,
.form-list .form-group:after,
.pager:after,
.m_scr .main_nav:after,
.widget-m .buyerlist .list:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.classify {
  width: 280px;
  height: 368px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.classify h2.title {
  font: 20px/38px "STHeiti", "Helvetica Neue", "Helvetica", "Microsoft yahei";
  color: #ff902d;
  padding-left: 45px;
  position: relative;
  margin: 13px 0;
}
.classify h2.title i {
  position: absolute;
  width: 38px;
  height: 38px;
  left: 0;
  top: 0;
  background-image: url("img/common.png");
  background-repeat: no-repeat;
  background-position: -150px -200px;
}
.classify .menu {
  position: relative;
}
.classify .menu .item {
  height: 36px;
  border: 1px solid transparent;
}
.classify .menu .item .link {
  display: block;
  position: relative;
  line-height: 36px;
  font-size: 16px;
  padding-left: 15px;
  transition: padding .3s;
}
.classify .menu .item .link i {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 10px;
  top: 0;
  background-image: url("img/common.png");
  background-repeat: no-repeat;
  background-position: -50px -200px;
}
.classify .menu .item .sub-menu {
  display: none;
  width: 910px;
  height: 292px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 278px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.classify .menu .active {
  border-color: #ebebeb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.classify .menu .active .link {
  position: relative;
  z-index: 4;
  padding-left: 25px;
  background-color: #fff;
}
.classify .menu .active .link i {
  background-position: -100px -200px;
}
.classify .menu .active .sub-menu {
  display: block;
}
.m_scr {
  position: relative;
  padding-left: 280px;
}
.m_scr .main_nav {
  height: 64px;
}
.m_scr .main_nav a {
  float: left;
  font: 20px/40px "STHeiti", "Helvetica Neue", "Helvetica", "Microsoft yahei";
  padding: 10px 40px 0;
}
.m_scr .main_nav a:hover,
.m_scr .main_nav a.active {
  color: #ff902d;
  border-bottom: 1px solid #ff902d;
}
.m_scr .banner {
  width: 618px;
  height: 304px;
}
.m_scr .business {
  float: right;
  width: 234px;
  height: 252px;
  padding: 25px;
  border: 1px solid #e9e9e9;
}
.m_scr .business .bjd {
  color: #ff902d;
  margin-top: 15px;
  font-size: 16px;
  text-decoration: underline;
}
.m_scr .business .entry .btn {
  margin-top: 32px;
}
.m_scr .business .tips {
  margin-top: 20px;
  font-size: 12px;
  color: #aaaaaa;
}
.widget-m {
  margin: 20px 0;
  border: 1px solid #e9e9e9;
}
.widget-m .l-pic {
  width: 279px;
  height: 410px;
  border-right: 1px solid #e9e9e9;
  float: left;
  position: relative;
}
.widget-m .l-pic .hd {
  position: absolute;
  left: 0;
  top: 0;
}
.widget-m .l-pic .hd .tit {
  font: 22px/40px "STHeiti", "Helvetica Neue", "Helvetica", "Microsoft yahei";
  margin: 5px 0 0 15px;
}
.widget-m .l-pic .hd .more {
  font-size: 14px;
  color: #ff902d;
  padding-left: 15px;
}
.widget-m .tab {
  height: 410px;
  margin-left: 280px;
  overflow: hidden;
}
.widget-m .tab .tab-hd {
  height: 50px;
  background-color: #F6F6F6;
  background-image: -webkit-linear-gradient(left, #f6f6f6, #ffffff);
  background-image: -moz-linear-gradient(left, #f6f6f6, #ffffff);
  background-image: -ms-linear-gradient(left, #f6f6f6, #ffffff);
}
.widget-m .tab .tab-hd .tag {
  display: inline-block;
  font: 16px/50px "STHeiti", "Helvetica Neue", "Helvetica", "Microsoft yahei";
  padding: 0 50px;
}
.widget-m .tab .tab-hd .active {
  background-color: #ff902d;
  color: #fff;
}
.widget-m .tab .tab-bd {
  padding: 10px 15px;
}
.widget-m .tab .table {
  border-width: 0;
  font-size: 12px;
}
.widget-m .tab .table td {
  border-bottom-style: dashed;
}
.widget-m .buyerlist {
  padding: 20px;
  border-top: 1px solid #e9e9e9;
}
.widget-m .buyerlist .tit {
  font-size: 22px;
}
.widget-m .buyerlist .list li {
  width: 240px;
  height: 30px;
  line-height: 30px;
  float: left;
  padding: 15px 45px 15px 0px;
}
.widget-m .buyerlist .list li .info {
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.widget-m .buyerlist .list li .btn {
  float: right;
}
/*# sourceMappingURL=css/index.css.map */