@import (reference) "common";
.search-wrapper{
  .compa-info{
    position:relative;
    width:180px;
    text-align:center;
    .margin_lr_auto;
    .ellipsis;
    .detail{
      position:absolute;
      top:29px;
      left:50%;
      width:200px;
      margin-left:-100px;
      border:1px solid @border-color-gray;
      .boxshadow();
    }
  }
}