.panel{
	border: 1px solid @panel-border-color;
	background-color: #fff;
	padding: 20px;
}
//ÏÖ»õËÑË÷ É¸Ñ¡
.filter-panel{
  border:1px solid @border-color-gray;
  .hd{
	padding:7px 20px;
	border-bottom:1px solid @border-color-gray;
	.selected-c{
	  overflow:hidden;
	  dt,dd{
		float:left;
	  }
	  dt{
		line-height:30px;
	  }
	  dd{
		height:20px;
		font:14px/20px @font-family;
		color:@primary-color;
		border:1px solid @primary-color;
		margin:4px;
		padding:0 15px;
		.close{
		  display:inline-block;
		  padding:0 5px;
		  margin-right:-15px;
		  margin-left:5px;
		  color:@primary-color;
		  font-variant:small-caps;
		  &:hover{
			background:@primary-color;
			color:#fff;
		  }
		}
	  }
	}
  }
  .bd{
	padding:10px 20px;
	.factor{
	  .list{
		overflow:hidden;
		dt,dd{
		  float:left;
		  margin:5px;
		}
		dt{
		  color:@primary-color;
		}
		dd{
		  padding:0 10px;
		  cursor:pointer;
		  &:hover,
		  &.active{
			color:@secondary-color;
			text-decoration:underline;
		  }
		}
	  }
	}
  }
  .tab{
	margin-left:-20px;
	margin-right:-20px;
	.tab-hd{
	  .tag{
		padding:0 30px;
	  }
	}
	.tab-bd{
	  padding-left:30px;
	  padding-right:30px;

	  .sub-cate{
		float:left;
		width:50%;
		height:50px;
		margin-bottom:10px;
		.title{
		  font-size:14px;
		  line-height:26px;
		  color:@primary-color;
		}
		a{
		  font-size:12px;
		  line-height:24px;
		  float:left;
		  padding-right:20px;

		  &.active{
			color:@secondary-color;
			text-decoration:underline;
		  }
		}
	  }
	}
  }
}



