.table{
	width:100%;
	border:1px solid @table-border-color;
	background-color: #fff;
	border-collapse: collapse;
	th,td{
		padding: 10px;
		border-bottom: 1px solid @border-color-gray;
		text-align: center;
		vertical-align: middle;
		&.tl{ text-align: left;}
		&.tr{ text-align: right;}
	}
	th{
		line-height: 25px;
		font-weight: bold;
	}
	td{
		line-height: 20px;
		padding: 10px;
		font-size: 12px;
	}
}
.table-dashed{
  th{
	background-color:@border-color-gray + #080808;
	border-bottom-width:0;
  }
  td{
	border-style:dashed;
  }
}
.tr-dashed{
  td{
	border-style:dashed;
  }
}


/*表格内tips*/
.tb-tips{
  position:relative;
  .tips-wrap{
	width:260px;
	top:0px;
	left:50%;
	text-align:left;
	padding-top:30px;
	line-height:30px;
	font-size:14px;
	display:none;
	position:absolute;
	z-index:10;
	.arrow{
	  position:absolute;
	  left:50%;
	  margin-left:-7px;
	  top:22px;
	  width:15px;
	  height:9px;
	  background:url("img/arrow_1.png") no-repeat 0 0;
	}
	.tips-bd{
	  .boxshadow();
	  padding:10px 20px;
	  background:#fff;
	  border:1px solid @border-color-gray;

	}
  }
  &.active{
	.tips-wrap{
	  display:block;
	}
  }
}

/*表格筛选条件*/
.list-filter{
  margin:30px 0 10px;
  padding:3px 0 3px 200px;
  line-height:24px;
  .result,.sort,.price_range{
	vertical-align:middle;
	display:inline-block;
  }
  .result{
	padding:0 20px;
	font-size:16px;
  }
  .sort{
	a{
	  background-color:@border-color-gray-dark;
	  color:@font-color-base;
	  margin:0 2px;
	  padding:0 15px;
	  line-height:24px;
	  display:inline-block;
	  vertical-align:middle;
	  &.active{
		color:#fff;
		background-color:@primary-color;
	  }
	}
  }
  .price_range{
	.ipt{
	  height:24px;
	  line-height:24px;
	  width:60px;
	  text-align:center;
	  background-color:@border-color-gray-dark;
	}
	.btn{
	  height:24px;
	  line-height:24px;
	}
  }

}