
.tab{
  overflow:hidden;
  .tab-hd{
	height:50px;
	background-color:#F6F6F6;
	background-image:-webkit-linear-gradient(left,#F6F6F6,#fff);
	background-image:-moz-linear-gradient(left,#F6F6F6,#fff);
	background-image:-ms-linear-gradient(left,#F6F6F6,#fff);
	.tag{
	  display:inline-block;
	  font:16px/50px @font-family;
	  padding:0 50px;
	}
	.active{
	  background-color:@primary-color;
	  color:#fff;
	}
  }
  .tab-bd{padding:10px 15px;}
}